.header {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.header span {
  font-size: 1rem;
}

.header > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.header > div > div {
  height: 4px;
  border-radius: 4px;
  background: var(--green);
}

span.header {
  position: absolute;
  top: 12px;
  transform: translatex(-50%);
}

.buttonHome {
  width: 5rem;
  margin-right: 2rem;
  margin-top: 0;
  fill: var(--white) !important;
}
